@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
}

<div class="row tm-row">
    @foreach (var item in Model)
    {
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a asp-action="SinglePost" asp-route-id="@item.PostID" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    <img src="@item.ImagePath" alt="Image" class="img-fluid">
                </div>
                @if ((DateTime.Now - item.PostTime).TotalDays <= 2) //Articles that are posted within 2 days are going to show a NEW bandage
                {
                    <span class="position-absolute tm-new-badge">New</span>
                }
                <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.Title</h2>
            </a>
            @{
                var words = item.Text.Split(' ');
                var previewText = string.Join(" ", words.Take(35)); // Display only the first 35 words
            }
            <p class="tm-pt-30">
                @previewText ...(See More)
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">@item.Category</span>
                <span class="tm-color-primary">@item.PostTime.ToString("dd MMMM, yyyy")</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                @if (item.Comments.Count == 1)
                {
                    <span>@item.Comments.Count Comment</span>
                }
                else
                {
                    <span>@item.Comments.Count Comments</span>
                }
                <span>@item.User.UserName</span>
            </div>
        </article>
    }
</div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                </li>
            </ul>
        </nav>
    </div>
</div>



